@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  font-size: 62.5%;
}

body{
  font-family: "Noto Sans", sans-serif;
 background-color: black;
}
  h1,li,h2,h3,h6{
    color: white;
  }
h2{
  @apply text-[3rem] leading-[30px] font-medium lg:text-[4.8rem] lg:leading-[48px]
}



  p{
    @apply text-[1.4rem] leading-[20px] font-light text-textGrey md:text-[1.8rem] md:leading-[26px]
  }
  
  
  h1{
    @apply text-[4.8rem] leading-[50px] tracking-[-1%] font-semibold lg:text-[6.8rem] lg:leading-[68px]
  }

  
  
  .gradientBtn {
    background: linear-gradient(to bottom right, #C8A2FF, white);
  }
  

  .featureMenu{
    background-image: url(/src/assets/rectangleWithlightShadow.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .featureMenu p {
    font-size: 11px;
    line-height: 20px !important;
  }
  
  .heroWrraper{
   background-image: url(/src/assets/mobileherobg.png);
   background-size: contain;
   /* background-position: center; */
   /* background-repeat: no-repeat; */
  }



.resources{
  /* background: url(/src/assets/shadow.png); */
}