@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  font-size: 62.5%;
}

body{
  font-family: "Noto Sans", sans-serif;
 background-color: black;
}


p{
  @apply text-[1.4rem] leading-[20px] font-light text-textGrey md:text-[1.8rem] md:leading-[26px]
}


h1{
  @apply text-[4.8rem] leading-[50px] tracking-[-1%] font-semibold lg:text-[6.8rem] lg:leading-[68px]
}


.gradientBtn {
  background: linear-gradient(to bottom right, #C8A2FF, white);
}

